/*====卡片====*/
.card {
    position: relative; 
    width: 240px;
    height: 360px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.052);
    background: #fff;
    font-family: Arial;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid transparent;

}
/*卡片hover效果*/
.card:hover {
    transform: translateY(-6px);  /* 上漂 */
    box-shadow: 0 8px 20px rgba(0,0,0,0.15); /* 更深阴影 */
}
/*卡片光效*/

/*卡片hover光效*/
.card:hover::before {
    transform: rotate(45deg);
}




/*====卡片图片====*/
.card-img {
    width: 100%;
    height: 180px;
    display: block;
    transition: transform 0.1s ease;
}
/*卡片图片hover效果*/
.card:hover img {
    transform: scale(1.05);
}




/*====卡片文字框====*/
.card-content {
    height: 120px;
    overflow: hidden;
    position: relative;
}
/*卡片两个文字简介和详情*/
.content {
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 90%;
    top: 100%;
    opacity: 0;
    transition: all 0.4s ease;
}


/*===卡片简介===*/
.content.active {
    top: 0;
    opacity: 1;
}
.content h3 {
    margin-bottom:-10px ;
    font-size: 20px;
    color: #0b2438;
    text-align: center;
}
.card-p{
    text-align: center;
}
.content p {
    font-size: 15px;
    color: #555;
}



/*===卡片详情===*/
.content {
    height: 120px;
    overflow-y: auto;/*启用垂直滚动*/
    text-align: left;
}
.content-p2{
    font-size: 14px;
    color: #777;
}
/*详情自定义滚动条样式*/
.content::-webkit-scrollbar {
    width: 6px;
}
.content::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}




/*====卡片按钮====*/
.toggle-btn {
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    background-color: #00284d;
    color: white;
    font-size: 16px;
    display: block;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 700;
}
/*卡片返回按钮*/
.toggle-btn.return {
    background-color: #d4b46a; 
    font-weight: 700;
}
.toggle-btn.return:hover {
    background-color: #c5a95d; 
}
/*按钮hover效果*/
.toggle-btn:hover {
    background: #072542;
    /* 不改 X 方向，改 Y 或 scale */
    transform: translateX(-50%) translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
/*按钮按下效果*/
.toggle-btn:active {
    transform: translateX(-50%) translateY(1px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.12);
}

