
/*====== body =======*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*===h2小标题自定义===*/
/*h2文字本身*/
h2{
    font-size: 36px;
    color: #1f365b;
    padding: 5px 20px;
    font-weight: 700;
}
/*h2标题大框框子*/
.h2-title{
    margin-top: 5%;
    margin-left: 10%;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}
/*h2标题数字*/
.h2-title-num{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-size: 90px;
    font-family:'Roboto';
    padding-left: 0cap;
    padding-right: 0cap;
    font-weight: 120;
}
/*h2标题文字框*/
.h2-title-text{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top:20px;
    padding-bottom:auto;
}
/*h2标题h2h2h2h2*/
.h2-title-text h2{
    padding-left:0;
    display: inline;
}
/*h2标题ppppp*/
.h2-title-text p{
    margin-top: auto;
    padding-left: 2px;
    color: #555;
    letter-spacing: 1px;
}






/*====== header =======*/
header{
    position: relative;
    background-image: 
        linear-gradient(to top,
        #274169,
        rgba(0,0,0,0)40%),
        url(../src/baiterek3.jpg);
    background-color: #274169;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}



/*====== 首页 =======*/

/* 首页 最外面的隐形大框框子 */
.invisible-space-header{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
/* 首页 最上面那一条框框子 */
.first-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
/* ==首页 logo和公司名整体== */
.img-title{
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}
/* 首页 logo */
.logo{
    width: 10%;
    margin-right: 15px;
}
/* 首页 公司名字 */
.company-name{
    font-size: 18px;
    font-weight: bold;
    max-width: 300px;
}

/* ==首页 语言切换== */

/* 首页 语言切换整体框框子 */
.language-nav{
    display: flex;
    gap: 15px;
}
/* 首页 语言切换p原语言 */
.language-nav p {
    color: #ffffff;
    display: flex;
    font-weight: bold;
    margin-top: auto;
}
/* 首页 语言切换a样式 */
.language-nav a{
    text-decoration: none;
    color: #ecc976;
    font-weight: bold;
}
/* 首页 中文 */
.chinease-language{
    margin-top: -3px;
}
/* 首页 语言切换a:hover */
.language-nav a:hover{
    color: white;
}
/*首页 语言切换a：active*/
.language-nav a:active {
    transform: translateY(3px);
}

/*==首页 大文字口号==*/
.head-words{
    text-align: center;
    color: white;
    padding: 60px 20px;
}
/* 首页 最大的口号文字 */
.biggest-words{
    font-size: 50px;
    font-weight: bold;
    margin: 120px 0 20px;
}
/* 首页 最大口号的描述文字 */
.biggest-words-des{
    margin:0 auto;
    font-size: 20px;
    color: rgb(199, 199, 199);
    width: 80%;
    max-width: 800px;
}
/* 首页 联系我们按钮 */
.head-words a {
    display: inline-block;
    margin: 50px 0 60px;
    padding: 12px 50px;
    background-color: #d4b46a;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}
/* 首页 联系我们按钮hover */
.head-words a:hover{
    background-color: #c5a95d;
}

/*====== 首页结束 =======*/













/*====== main =======*/
/*main 背景*/
main{
    padding: 50px 0 100px;
    background-color: #274169;
}
/* main 最外面的隐形大框框子 */
.visible-space-main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}


/*====== 公司简介 =======*/
/* 公司简介 隐形框框子 */
.intro-backgrond{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
}
/* 公司简介 背景图片 */
.intro-backgrond-img{
    width: 55%;
    border-radius: 10px;
}
/* 公司简介 文字描述 */
.intro-backgrond-des{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-indent: 2em;
    text-align: justify;
    font-style: italic;
    color: #555;
}
/* 公司简介 标题 */
.intro-backgrond-des h2{
    margin-bottom: 20px;
    font-size: 30px;
}
/* 公司简介 文字简介 */
.intro-backgrond-des p{
    text-align: justify;
}








/*====== 核心业务 =======*/

/* 核心业务 卡片隐形框框子*/
.cards-background{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90%;
    margin:auto;
    border-radius: 10px;
    margin-bottom: 100px;
}
/* 核心业务 卡片详情 */
.content-p2{
    color: #555;
    line-height: 1.6;
}







/*====== footer =======*/
/* footer 默认背景 */
footer{
    background-color: #274169;
    color: white;
    padding: 100px 0 150px;
}
/* footer 最外面的隐形大框框子 */
.invisible-space-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* footer 联系方式部分 */
.footer-contact{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
}
/* footer 标题文字 */
.footer-contact h2{
    color: #ffffff;
    padding-left: 0%;}
/* footer 分割线*/
.footer-hr{
    border: none;
    margin-left: -1px;
    margin-bottom: 25px;
    margin-top: -20px;
    background-color: #ecd6a2;
    height:5px;
    width:165px;
}
/* footer 电话link */
.contact-a{
    color: #ecd6a2;
    text-decoration: none;
    margin-bottom: 10px;
}
/* footer pppp */
.footer-contact p{
    color: rgb(199, 199, 199);
}
/* footer 地图 */
iframe{
    flex:2;
    min-width: 300px;
    max-width: 600px;
    height:400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
















/*======迷你手机======*/
@media (max-width:350px) {
    /*语言切换*/
    .language-nav{
        gap:7px;
    }
}


/*======手机适配======*/
@media (max-width: 450px) {
/*======全部======*/
/*h2 序号型标题*/
.h2-title{
    max-width: fit-content;
    margin-left: auto;
}
.h2-title-num{
    font-size: 50px;
}
.h2-title-svg{
    width: 10px;
    height: 70px;
}
.h2-title-text h2{
    font-size: 30px;
}

/*======首页======*/
    /*===首页 顶部一行===*/
    /*首页 logo和公司名整体*/
    .img-title{
        align-items: left;
        margin-left: -20px;
    }
    /*首页 logo*/
    .logo {
        width: 30px;
        margin-right: 5px;
    }
    /*首页 语言导航*/
    .language-nav{
        font-size: 15px;
        margin-right: -20px;
    }
    /*首页 公司名*/
    .company-name{
        font-size: 9px;
        max-width: 89px;
    }
    /*首页 svg整体*/
    .p1-svg {
        width: 12px;
        height: 35px;
    }
    /*首页 svg画的图*/
    .p1-svg rect{
        y:4;
        x:0;
    }
    /*===首页 口号框框子===*/
    .head-words{
        padding: 40px 10px;
    }
    /*首页 大口号*/
    .biggest-words{
        font-size: 40px;
        margin: 50px 0 10px;
    }
    /*首页 大口号描述*/
    .biggest-words-des{
        font-size: 16px;
        width: 100%;
    }
    /*首页 联系我们按钮*/
    .head-words a{
        font-size: 20px;
        padding: 10px 30px;
    }
/*======首页结束======*/




/*======公司简介 ======*/
    /*公司简介 隐形框框子*/
    .intro-backgrond{
        flex-direction: column;
    }
    /*公司简介 背景图片*/
    .intro-backgrond-background-img{
        width: 100%;
        margin-bottom: 20px;
    }
    /*公司简介 文字标题与描述*/
    .intro-backgrond-des{
        margin: 0 20px;
        font-size: 16px;
    }
    /* 公司简介 标题*/
    .intro-backgrond-des h2{
        font-size: 25px;
    }
    /*公司简介 ppp*/
    .intro-backgrond-des p{
        text-align: justify;
    }

/*======第三页======*/
    /*核心业务 默认*/
    .p3-h2{
        font-size: 25px;
    }
    /*核心业务 卡片隐形框框子*/
    .cards-background {
        grid-template-columns: 1fr;
    }
    /*核心业务 卡片整体*/
    .card {
        margin:10px 0;
    }

/*======页脚======*/
    /* footer 联系方式 和 地图 */
    .invisible-space-footer{
        margin-top: -100px;
    }
    .footer-contact, iframe{
        flex: 1 1 100%;
    }
    /*footer 地图*/
    iframe {
        width: 100%;
        height: 300px;
    }
}







/*======ipad适配======*/
@media (max-width: 768px) {
/*======公司简介======*/
    /* 公司简介 排版隐形框框子 */
    .intro-backgrond {
        display: block;
        width: 95%;
        margin: 40px auto;
    }

    /* 公司简介 图片 */
    .intro-backgrond-img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    /* 公司简介 文字 */
    .intro-backgrond-des {
        font-size: 16px;
        margin: 10px 5px 0 5px;
        line-height: 1.7;
        text-align: justify;
        text-indent: 2em;
    }

    /* 公司简介 文字h2 */
    .intro-backgrond-des h2 {
        font-size: 22px;
        margin-bottom: 15px;
        text-align: left;
    }

/*======核心业务======*/
    /*核心业务 卡片隐形框框子*/
    .cards-background{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90%;
    margin:auto;
    justify-items: center;
    border-radius: 10px;
    margin-bottom: 100px;
    }
    /*核心业务 卡片整体*/
    .card {
        margin:20px 0;
    }
}